.banner {
    margin-bottom: 60px;
}

.banner-text {
    margin-top: 140px;
    width: 40%;
}

.banner-img {
    width: 60%;
}

.banner-text h1, .info h2 {
    font-size: var(--size48);
}

.banner-text h1 span, .info h2 span {
    display: block;
    color: var(--primary);
}

.banner-text p {
    margin: 20px 0;
    max-width: 500px;
    line-height: var(--lineHeight);
}
