.banner {
    margin-top: 130px;
    margin-bottom: 60px;
}

.banner-text {
    margin-top: 140px;
    width: 40%;
    padding: 0px 40px;
}

.banner-img {
    width: 60%;
}

.banner-text h1, .info h2 {
    font-size: var(--size48);
}

.banner-text p {
    margin: 20px 0;
    max-width: 500px;
    line-height: var(--lineHeight);
    font-weight: var(--fontMedium);
}

@media (max-width: 1200px) {
    .menu, .menu .portal {
        display: none;
    }

    .banner {
        padding-top: 60px;
        margin-bottom: 100px;
    }

    .banner-text {
        margin-top: 0px;
    }
}

@media (max-width: 1124px) {
    .banner-btns {
        display: flex;
    }
}

@media (max-width: 1050px) {
    .banner .container {
        flex-direction: column;
    }

    .banner-text {
        width: 100%;
        text-align: center;
    }

    .banner-text p {
        margin: 20px auto;
        text-align: center;
    }

    .banner-btns {
        margin-bottom: 60px;
    }

    .banner-img {
        margin: 0 auto;
    }
}

@media (max-width: 450px) {
    .banner-text h1 {
        font-size: var(--size32);
    }
}

@media (max-width: 420px) {
    .banner .container {
        padding: 0px;
    }
}