.contact {
    padding: 140px 0;
    margin-top: 130px;
}

#contact-page {
    background: var(--secundaryLight);
}

.info {
    width: 50%;
}

.info p {
    font-weight: var(--fontMedium);
    font-size: var(--size18);
    margin: 40px 0 60px 0;
}

.contact-items {
    display: flex;
}

.contact-items li + li {
    margin-left: 40px;
}

.contact-items li {
    font-weight: var(--fontMedium);
    display: flex;
    align-items: flex-start;
}

.contact-items li h4 {
    color: var(--primary);
    font-weight: var(--fontBold);
    margin-bottom: 10px;
}

.contact-items li::before {
    content: '';
    display: block;
    width: 30px;
    height: 28px;
    background-size: cover;
    margin-right: 10px;
}

.tel::before {
    background: url(../Assets/call.png) no-repeat center center;
}

.mail::before {
    background: url(../Assets/mail.png) no-repeat center center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.field {
    border: none;
    padding: 30px 0;
    border-bottom: 2px solid var(--secundary);
    width: 100%;
    outline: none;
}

#field-page {
    background: var(--secundaryLight);
}

.form div input {
    width: calc(50% - 20px);
}

.form div input + input {
    margin-left: 40px;
}

.form input::placeholder {
    font-weight: var(--fontSemiBold);
    font-family: var(--font);
    color: var(--secundary);
    font-size: var(--size18);
}

.tel a, .mail a {
    color: var(--secundary);
}

@media (max-width: 1260px) {
    .info {
        margin-right: 60px;
    }
    .mail a {
        display: block;
        width: 100%;
        word-break: break-all;
    }
    .contact-items li::before {
        display: none;
    }
}

@media (max-width: 715px) {
    .contact .container {
        flex-direction: column;
    }
    .contact-items li::before {
        display: block;
    }
    .info, .form {
        width: 100%;
    }
    .info {
        margin-right: 0px;
        margin-bottom: 60px;
    }
}

@media (max-width: 598px) {
    .contact-items li::before {
        display: none;
    }
}
