.historia {
    background: var(--base1);
}

.historia .container {
    padding-top: 60px;
}

.historia .container h2 {
    font-size: var(--size48);
    margin-bottom: 40px;
}

.historia .container p {
    font-size: var(--size16);
    font-weight: var(--fontMedium);
    line-height: var(--lineHeight);
    max-width: 70%;
}

.historia-text {
    width: 50%;
    padding: 60px;
}

.historia-img {
    width: 50%;
}