.produtos-intro {
    background: var(--secundaryLight);
    margin-top: 130px;
}

.produtos-intro .container {
    justify-content: space-between;
    width: 100%;
}

.produtos-intro .container h2 {
    font-size: var(--size48);
}

.produtos-intro .container h2:first-child {
    color: var(--icon3);
}

.produtos-intro .container h2:nth-child(2) {
    color: var(--primaryLight);
}

.produtos-intro .container h2:nth-child(3) {
    color: var(--primary);
}

.produtos-intro-text {
    width: 50%;
    margin-top: 80px;
    margin-right: 40px;
}

.produtos-intro-img img {
    width: 580px;
}

.produtos-intro-text p {
    line-height: var(--lineHeight);
    margin-top: 40px;
    font-weight: var(--fontMedium);
}

.produtos-intro p a {
    color: var(--primary);
}

.produtos-intro p a:hover {
    text-decoration: underline;
}

@media (max-width: 1100px) {
    .produtos-intro-text {
        margin-bottom: 80px;
    }
    .produtos-intro .container {
        align-items: center;
    }
}

@media (max-width: 730px) {
    .produtos-intro .container {
        flex-direction: column;
    }
    .produtos-intro-text {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 60px;
    }
}