.sobre {
    background: var(--secundaryLight);
    margin-top: 130px;
}

.sobre .container {
    padding-top: 80px;
}

.sobre .container h2 {
    font-size: var(--size48);
    margin-bottom: 40px;
}

.sobre .container h2 span:last-child {
    color: var(--primary);
}

.sobre .container h2 span:first-child {
    color: var(--icon3);
}

.sobre .container p {
    font-size: var(--size16);
    font-weight: var(--fontMedium);
    line-height: var(--lineHeight);
    max-width: 70%;
}

.sobre-text {
    width: 50%;
}

.sobre-img {
    width: 50%;
}

@media (max-width: 1120px) {
    .sobre .container {
        padding-bottom: 80px;
    }
    .sobre-text {
        margin-right: 20px;
    }
}

@media (max-width: 740px) {
    .sobre-img {
        width: 40%;
    }
    .sobre-text p {
        max-width: 90% !important;
    }
    .sobre-text {
        width: 60%;
    }
    .sobre-img {
        display: none;
    }
    .sobre-text p {
        max-width: 100% !important;
    }
    .sobre-text {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 440px) {
    .sobre .container h2 {
        font-size: var(--size32);
    }
}