.sobre {
    background: var(--secundaryLight);
}

.sobre .container {
    padding-top: 80px;
}

.sobre .container h2 {
    font-size: var(--size48);
    margin-bottom: 40px;
}

.sobre .container h2 span:last-child {
    color: var(--primary);
}

.sobre .container h2 span:first-child {
    color: var(--icon3);
}

.sobre .container p {
    font-size: var(--size16);
    font-weight: var(--fontMedium);
    line-height: var(--lineHeight);
    max-width: 70%;
}

.sobre-text {
    width: 50%;
}

.sobre-img {
    width: 50%;
}