.data {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 140px 0;
}

.data li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--fontMedium);
}

.data li span {
    font-size: var(--size48);
    font-weight: var(--fontBold);
    color: var(--primary);
    margin-bottom: 10px;
}

.social-proof {
    background: var(--primary);
    padding: 100px;
}

.social-proof .container {
    flex-direction: column;
}

.social-proof .container > h3 {
    font-size: var(--size32);
    color: var(--base1);
}

.social-proof .container > p {
    color: var(--base1);
    margin-top: 20px;
    font-weight: var(--fontMedium);
}

.documentaries {
    display: flex;
    margin-top: 60px;
}

.documentaries li {
    background: var(--base1);
    width: 50%;
    border-radius: 10px;
    font-weight: var(--fontMedium);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.documentaries li p {
    width: 450px;
    line-height: var(--lineHeight);
    margin: 20px auto 15px auto;
}

.documentaries li .profile {
    display: flex;
    align-items: center;
    width: 450px;
}

.documentaries li .profile img {
    width: 60px;
    margin-right: 20px;
}

.documentaries li .profile h4 {
    color: var(--primary);
    font-weight: var(--fontBold);
    margin-bottom: 10px;
}

.documentaries li + li {
    margin-left: 140px;
}

.rating {
    display: flex;
    width: 450px;
}

.rating img {
    width: 20px;
}

.rating img + img {
    margin-left: 10px;
}
