.footer {
    background: var(--primary);
    padding: 100px 0;
}

.footer .banner-btns {
    margin-top: 35px;
}

.footer .banner-btns .cta {
    background: var(--icon3);
}

.footer .banner-btns .btn {
    background: var(--primaryLight);
}

.footer .container {
    flex-direction: column;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
}

.call-to-action p {
    display: flex;
    flex-direction: column;
}

.call-to-action p legend {
    font-size: 0.4em;
    font-weight: var(--fontMedium);
}

.divide-footer {
    display: block;
    height: 2px;
    width: 100%;
    background: var(--primaryLight);
    margin: 80px 0;
}

.footer .container p {
    font-size: var(--size32);
    line-height: 50px;
    color: var(--base1);
    max-width: 600px;
}

.navegation {
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    width: 30%;
}

.navegation nav h4 {
    color: var(--base1);
    font-weight: var(--fontBold);
    font-size: var(--size18);
}

.navegation nav ul li a {
    color: var(--base1);
    font-weight: var(--fontMedium);
}

.navegation nav ul li a:hover, .navegation nav ul li a.active {
    text-decoration: underline;
}

.navegation nav ul li {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.social ul li::before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 18px;
    background-size: cover;
    margin-right: 10px;
}

.facebook::before {
    background: url(./Assets/facebook.png);
}

.instagram::before {
    background: url(./Assets/instagram.png);
}

.youtube::before {
    background: url(./Assets/youtube.png);
    width: 22px !important;
    height: 15px !important;
}

.linkedin::before {
    background: url(./Assets/linkedin.png);
}

.copy .container {
    justify-content: space-between;
}

.copy {
    background: var(--primaryBold);
    padding: 30px 0;
}

.copy p {
    font-size: var(--size12);
    font-weight: var(--fontMedium);
    color: var(--base1);
}

@media (max-width: 1030px) {
    .logo-footer {
        display: none;
    }
}

@media (max-width: 680px) {
    .navegation {
        flex-direction: column;
    }
    .navegation nav + nav {
        margin-top: 60px
    }
}

@media (max-width: 430px) {
    .call-to-action {
        flex-direction: column;
    }
    .call-to-action p {
        margin-right: 0px;
        margin-bottom: 40px;
    }
    .call-to-action .banner-btns {
        width: 100%;
    }
    .call-to-action .banner-btns a {
        align-self: center;
    }
}






