:root {
    --primary: #423984;
    --primaryLight: #5c50b1;
    --primaryBold: #30286c;
    --secundary: #afadbd;
    --secundaryLight: #fafafe;
    --icon1: #7dddfe;
    --icon2: #18dfbc;
    --icon3: #7667de;
    --base1: #fff;
    --base2: #000;
    --font: 'Montserrat', sans-serif;
    --fontMedium: 500;
    --fontSemiBold: 600;
    --fontBold: 700;
    --size12: 0.75em;
    --size16: 1em;
    --size18: 1.125em;
    --size24: 1.5em;
    --size32: 2em;
    --size48: 3em;
    --lineHeight: 30px;
    --lineHeightAlt: 20px
}

.container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

body {
    color: var(--secundary);
    font-family: var(--font);
    font-weight: var(--fontSemiBold);
    font-size: var(--size16);
}

.portal, .cta, .btn, .submit {
    color: var(--base1);
    background: var(--primary);
    padding: 20px;
    border-radius: 10px;
}

.submit {
    cursor: pointer;
    margin-top: 40px;
    border: none;
    width: initial;
    align-self: start;
    font-family: var(--font);
    font-size: var(--size16);
    font-weight: var(--fontSemiBold);
}

.btn {
    background: var(--secundary);
}

.banner-btns {
    margin-top: 60px;
    display: block;
}

.banner-btns .btn {
    margin-left: 20px;
}

.banner-text h1 span, .info h2 span, .historia-text h2 span {
    display: block;
    color: var(--primary);
}
