.header {
    padding: 40px;
    position: fixed;
    width: 100%;
    margin-top: -130px;
    background: var(--base1);
    transition: .2s;
    z-index: 2000;
}

.header.active-scroll {
    padding: 10px;
    background: var(--primary);
}

.header.active-scroll .portal {
    color: var(--base1);
    background: var(--icon3);
}

.header.active-scroll .menu ul li a {
    color: var(--base1);
}

.header div {
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    color: var(--secundary);
    padding: 5px;
    border: 2px solid transparent;
    transition: .2s;
}

.menu ul li a:hover, .menu ul li a.active {
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 10px;
}

.menu ul li {
    margin-right: 60px;
}

.menu ul li:last-child {
    margin-right: 0px;
}

.logo img {
    width: 400px;
}

.btn-mobile {
    display: none;
    background: none;
    border: none;
    width: 40px;
}

.menu-mobile {
    display: none;
    background: var(--secundaryLight);
    border-radius: 10px;
    position: absolute;
    right: 40px;
    top: 50px;
    padding: 40px 40px 60px 40px;
    animation: showMenu .3s forwards;
    z-index: 3;
}

@keyframes showMenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu-mobile ul li + li {
    margin-top: 40px;
}
.menu-mobile ul li:last-child {
    margin-top: 50px;
}

@media (max-width: 1430px) {
    .menu ul li {
        margin-right: 20px;
    }
}

@media (max-width: 1200px) {
    .menu, .header .container > .portal {
        display: none;
    }
    .btn-mobile {
        display: block;
    }
    .header .container {
        position: relative;
    }
}

@media (max-width: 630px) {
    .header .container {
        padding: 0px;
    }
    .logo {
        margin-right: 10px;
    }
    .menu-mobile {
        right: 0px;
    }
}

@media (max-width: 480px) {
    .btn-mobile {
        width: 50px;
    }
}

@media (max-width: 390px) {
    .menu-mobile  ul li:last-child {
        display: flex;
        margin-top: 30px;
    }
    .menu-mobile {
        padding: 40px;
    }
}